{% extends 'base.html.twig' %}
{% trans_default_domain 'NowoBreadcrumbKitBundle' %}

{% block title %}{{ 'demo.product.title'|trans({'%id%': id}) }}{% endblock %}

{% block body %}
    <h1>{{ 'demo.product.heading'|trans({'%id%': id}) }}</h1>
    <p>
        {{ 'demo.product.lead_html'|trans|raw }}
    </p>
    <p><a href="{{ path('app_shop') }}">{{ 'demo.product.back_shop'|trans }}</a></p>
    <p><a href="{{ path('app_home') }}">{{ 'demo.product.back_home'|trans }}</a></p>
{% endblock %}
