{% extends 'base.html.twig' %}
{% trans_default_domain 'NowoBreadcrumbKitBundle' %}

{% block title %}{{ 'demo.shop.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'demo.shop.heading'|trans }}</h1>
    <p>{{ 'demo.shop.lead'|trans }}</p>
    <p><a href="{{ path('app_product_show', { id: 42 }) }}">{{ 'demo.shop.open_product'|trans }}</a></p>
    <p><a href="{{ path('app_home') }}">{{ 'demo.shop.back_home'|trans }}</a></p>
{% endblock %}
