{% extends 'base.html.twig' %}
{% trans_default_domain 'NowoBreadcrumbKitBundle' %}

{% block title %}{{ 'demo.custom_template.title'|trans }}{% endblock %}

{% block breadcrumb %}
{# Second argument: app template; receives trail (BreadcrumbTrailView) #}
<nav class="breadcrumb-demo" aria-label="{{ 'demo.custom_template.nav_aria'|trans }}">
    {{ breadcrumb_render('default', 'breadcrumb/custom_fragment.html.twig') }}
</nav>
{% endblock %}

{% block body %}
    <h1><code>breadcrumb_render(collection, template)</code></h1>
    <p>{{ 'demo.custom_template.lead_html'|trans }}</p>
    <p><a href="{{ path('app_home') }}">{{ 'demo.custom_template.back_home'|trans }}</a></p>
{% endblock %}
